/node_modules
/build
/yarn.lock
/npm-debug.log
.DS_Store
.prettierignore
/local-backend/node_modules
/.codex
localhost+2-key.pem
localhost+2.pem
webpack.config.js
webpack.config.js
webpack.config.js
webpack.config.js
